---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h4>Hello, I'm Harshith – Your Android Development Partner</h4>
			<p>
				Welcome to my corner of the digital world! I'm Harshith, an Android enthusiast and developer with over a year of hands-on experience in bringing innovative ideas to life through elegant and functional mobile applications.
			</p>
			<p>
				📱 <b>User-Centric Approach: </b>I believe in the power of user-focused design. With a keen understanding of user behavior and preferences, I create Android apps that not only meet technical requirements but also engage and delight users.
			</p>
			<p>
				🚀 <b>Innovative Solutions:</b> I thrive on challenges. From solving intricate coding puzzles to brainstorming unique features, I have a knack for turning ideas into practical, efficient, and impactful solutions.
			<p>
				🛠️ <b>Technical Expertise:</b> My toolbox is filled with the latest Android development technologies and tools. Whether it's Kotlin, Java, Android Studio, or various APIs, I'm always eager to leverage the best tools for the job.
			</p>
			<h5>Get in Touch:</h5>
			<p>
				I'm always excited to connect with fellow developers, tech enthusiasts, and potential clients. Feel free to reach out via [contact details] to discuss opportunities, share ideas, or simply geek out about the latest Android trends.
				<span>Stay curious, keep coding, and let's build amazing Android experiences together!</span>
			</p>
		</main>
		<Footer />
	</body>
</html>
